h1, .h1 {
    font-size: 2em;
}
.text-success {
    color: $brand-success;
}
.text-primary {
    color: $brand-primary;
}
.text-danger {
    color: $brand-danger;
}
.text-warning {
    color: $brand-warning;
}
