@import "bootstrap/variables";
@import "vendor/reset";
@import "typo";
@import "vendor/global";
@import "vendor/easy-responsive-tabs";
@import "vendor/style";


ul.breadcrumb {
    margin: 0;
    list-style-type: none;
    > li {
        display: inline;
        > a {
            color: #2a5c86;
            font-family: "Roboto";
            &:hover {
                color: $brand-primary;
            }
            &:active,
            &:focus {
                font-weight: bold;
            }
        }
        > span.active {
            color: $brand-primary;
            font-weight: bold;
        }
    }
}
.categories {
    > ul > li {
        ul {
            margin-left: 15px;
            li {
                > a {
                    text-transform: none;
                    background: none;
                }
            }
        }
    }
}
body > .wrap {
    min-height: 580px;
}
