{% load i18n petshop_tags product_tags %}
{% if products.exists %}
{% extend_media_block 'js' media 'js' %}
    <h3 class="text-primary">{{ title }}</h3>
    <hr/>
    <div class="carousel slide multiple" id="{{ css_id }}" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner" role="listbox">
            {% for product in products %}
            {% if forloop.counter0|divisibleby:'3' %}
            {% if not forloop.first %}
                </div>
            </div>{% endif %}
            <div class="item{% if forloop.first %} active{% endif %}">
                <div class="row">{% endif %}
                    <div class="col-xs-4">
                        {% render_product product %}
                    </div>
            {% endfor %}
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#{{ css_id }}" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Previous" %}</span>
        </a>
        <a class="right carousel-control" href="#{{ css_id }}" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Next" %}</span>
        </a>
    </div>
{% endif %}
