<!DOCTYPE HTML>
<html>{% load i18n cms_tags sekizai_tags petshop_tags static menu_tags %}
<head>
<title>{{ request.site.name }} | {% block "title" %}{% page_attribute "page_title" %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="{{ request.site.settings.favicon.thumb.url }}">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
{% get_base_media as base_media %}{% render_block 'css' %}{% extend_media_block 'css' base_media %}
{% render_block 'basejs' %}{% extend_media_block 'js' base_media 'basejs' %}
{% block "media" %}{% endblock %}
<script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
</head>
<body>{% cms_toolbar %}
  <div class="wrap">
    <div class="header">
        <div class="headertop_desc">
            <div class="call">
                <p><span>{% trans "Need help?" %}</span> {% trans "call us" %} <span class="number">{% placeholder "top-phone" or %}1-22-3456789{% endplaceholder %}</span></span></p>
            </div>
            <div class="account_desc">
                <ul>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'customer:login' %}">{% trans "Register" %}</a></li>
                    <li><a href="{% url 'customer:login' %}">{% trans "Login" %}</a></li>
                    {% else %}
                    <li><a href="{% url 'customer:profile-view' %}">{% trans "Account profile" %}</a></li>
                    <li><a href="{% url 'customer:logout' %}">{% trans "Logout" %}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="header_top">
            <div class="logo">
                <a href="{% url "pages-root" %}"><img src="{{ request.site.settings.logo.thumb.url }}" title="{{ request.site.name }}" alt="{{ request.site.name }}" /></a>
            </div>
            {% block "mini-basket" %}
            <div id="miniBasket" class="cart" data-csrftoken="{{ csrf_token }}">
                {% if not hide_mini_basket %}
                    {% render_mini_basket %}
                {% endif %}
            </div>
            {% endblock %}
            <div class="clear"></div>
        </div>
        <div class="header_bottom">
             <div class="menu">
                 <ul>
                    {% show_menu 0 0 %}
                    <div class="clear"></div>
                 </ul>
             </div>
             {% comment %}
             <div class="search_box">
                 <form>
                     <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                 </form>
             </div>
             {% endcomment %}
             <div class="clear"></div>
        </div>
        <p>&nbsp;</p>
        {% include "partials/alert_messages.html" %}
        {% block "top-content" %}{% endblock %}
   </div>
 <div class="main">
    <div class="{% block content-class %}content{% endblock %}">
        {% block content %}{% endblock %}
    </div>
 </div>
</div>
   <div class="footer">
         {% comment %}
         <div class="wrap">    
         <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                        <h4>Information</h4>
                        <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Customer Service</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="delivery.html">Orders and Returns</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Why buy from us</h4>
                        <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Customer Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="contact.html">Site Map</a></li>
                        <li><a href="#">Search Terms</a></li>
                        </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>My account</h4>
                        <ul>
                            <li><a href="contact.html">Sign In</a></li>
                            <li><a href="index.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="contact.html">Help</a></li>
                        </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Contact</h4>
                        <ul>
                            <li><span>+91-123-456789</span></li>
                            <li><span>+00-123-000000</span></li>
                        </ul>
                        <div class="social-icons">
                            <h4>Follow Us</h4>
                                 <ul>
                                  <li><a href="#" target="_blank"><img src="{% static "images/facebook.png" %}" alt="" /></a></li>
                                  <li><a href="#" target="_blank"><img src="{% static "images/twitter.png" %}" alt="" /></a></li>
                                  <li><a href="#" target="_blank"><img src="{% static "images/skype.png" %}" alt="" /> </a></li>
                                  <li><a href="#" target="_blank"> <img src="{% static "images/dribbble.png" %}" alt="" /></a></li>
                                  <li><a href="#" target="_blank"> <img src="{% static "images/linkedin.png" %}" alt="" /></a></li>
                                  <div class="clear"></div>
                             </ul>
                            </div>
                </div>
            </div>            
        </div>
        {% endcomment %}
        <div class="copy_right">
            <p>{{ request.site.name }} © Все права защищены  </p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {            
            $().UItoTop({ easingType: 'easeOutQuart' });
            
        });
    </script>
    {% render_block 'js' %}
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>
