<!DOCTYPE HTML>
<html>{% load i18n cms_tags sekizai_tags petshop_tags static menu_tags %}
<head>
<title>{{ request.site.name }} | {% block "title" %}{% page_attribute "page_title" %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="yandex-verification" content="fc3aa681a256f850" />
<meta name="google-site-verification" content="t13M8pFVmds8p2iNdONeMGMx4ny-9fgxEQAOuWT47bg" />
<link rel="icon" href="{{ request.site.settings.favicon.thumb.url }}">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
{% get_base_media as base_media %}{% render_block 'css' %}{% extend_media_block 'css' base_media %}
{% render_block 'basejs' %}{% extend_media_block 'js' base_media 'basejs' %}
{% block "media" %}{% endblock %}
<script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
</head>
<body{% if debug %} class="debug"{% endif %}>{% cms_toolbar %}
  <div class="wrap">
    <div class="header">
        <div class="headertop_desc">
            <div class="call">
                <p><span>{% trans "Need help?" %}</span> {% trans "call us" %} <span class="number">{% static_placeholder "top-phone" or %}<noindex>1-22-3456789</noindex>{% endstatic_placeholder %}</span></span></p>
            </div>
            <noindex>
            <div class="account_desc">
                <ul>
                    {% if not user.is_authenticated %}
                    <li><a rel="nofollow" href="{% url 'customer:login' %}">{% trans "Register" %}</a></li>
                    <li><a rel="nofollow" href="{% url 'customer:login' %}">{% trans "Login" %}</a></li>
                    {% else %}
                    <li><a rel="nofollow" href="{% url 'customer:profile-view' %}">{% trans "Account profile" %}</a></li>
                    <li><a rel="nofollow" href="{% url 'customer:logout' %}">{% trans "Logout" %}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
            </noindex>
        </div>
        <div class="header_top">
            <div class="logo">
                <a{% if request.current_page.is_home %} rel="nofollow"{% endif %}  href="{% url "pages-root" %}"><img src="{{ request.site.settings.logo.thumb.url }}" title="{{ request.site.name }}" alt="{{ request.site.name }}" /></a>
            </div>
            <noindex>
            {% block "mini-basket" %}
            <div id="miniBasket" class="cart" data-csrftoken="{{ csrf_token }}">
                {% if not hide_mini_basket %}
                    {% render_mini_basket %}
                {% endif %}
            </div>
            {% endblock %}
            <div class="clear"></div>
            </noindex>
        </div>
        <div class="header_bottom">
             <div class="menu">
                 <ul>
                    {% show_menu 0 0 %}
                    <div class="clear"></div>
                 </ul>
             </div>
             {% comment %}
             <div class="search_box">
                 <form>
                     <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                 </form>
             </div>
             {% endcomment %}
             <div class="clear"></div>
        </div>
        <p>&nbsp;</p>
        <noindex>
            {% include "partials/alert_messages.html" %}
        </noindex>
        {% if not sitemap_node.include %}<noindex>{% endif %}
        {% block "top-content-index" %}
            {% block "top-content" %}{% endblock %}
        {% endblock %}
        {% if not sitemap_node.include %}</noindex>{% endif %}
   </div>
 <div class="main">
    <div class="{% block content-class %}content{% endblock %}">
        {% if not sitemap_node.include %}<noindex>{% endif %}
        {% block index_content %}
            {% block content %}{% endblock %}
        </noindex>
        {% endblock %}
        {% if not sitemap_node.include %}</noindex>{% endif %}
    </div>
 </div>
</div>
<noindex>
<div class="footer">
    <div class="copy_right">
        <p>{{ request.site.name }} © Все права защищены  </p>
    </div>
</div>
    <script type="text/javascript">
        $(document).ready(function() {            
            $().UItoTop({ easingType: 'easeOutQuart' });
            
        });
    </script>
    {% render_block 'js' %}
</div>
<a rel="nofollow" href="#" id="toTop"><span id="toTopHover"> </span></a>
</noindex>
</body>
</html>
