{% extends "base.html" %}

{% load i18n static %}
{% load category_tags menu_tags %}
{% load cms_tags %}

{% block "top-content-index" %}
    <div class="header_slide">
        <div class="header_bottom_left">                
            <div class="categories">
                <h3>{% trans "Categories" %}</h3>
                  <ul>
                    {% show_menu_below_id 'catalogue' 0 1 1 1 "menu/categories.html" %}
                  </ul>
            </div>                    
        </div>
        <div class="header_bottom_right"> 
            <div class="intro-promo">
                {% placeholder "intro-promo" or %} 
                <noindex>
                <div class="row">
                    <div class="col-sm-6">
                        <a href=""><img src="{% static "images/slide-1-image.png" %}" alt="learn more" /></a>
                    </div>
                    <div class="col-sm-6">
                        <h1>Clearance<br><span>SALE</span></h1>
                        <h2>UPTo 20% OFF</h2>
                        <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
                        <a href="preview.html" class="button">Shop Now</a>
                    </div>                           
                </div>
                </noindex>
                {% endplaceholder %}
            </div>
            {% placeholder "content" %} 
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
