{% extends "base.html" %}

{% load i18n static %}
{% load category_tags menu_tags %}
{% load cms_tags %}

{% block "top-content-index" %}
    <div class="header_slide">
        <div class="header_bottom_left">                
            <div class="categories">
                <h3>{% trans "Categories" %}</h3>
                  <ul>
                    {% show_menu_below_id 'catalogue' 0 1 1 1 "menu/categories.html" %}
                  </ul>
            </div>                    
        </div>
        <div class="header_bottom_right"> 
            <div class="intro-promo">
                {% placeholder "intro-promo" or %} 
                <noindex>
                <div class="row">
                    <div class="col-sm-6">
                        <a href=""><img src="{% static "images/slide-1-image.png" %}" alt="learn more" /></a>
                    </div>
                    <div class="col-sm-6">
                        <h1>Clearance<br><span>SALE</span></h1>
                        <h2>UPTo 20% OFF</h2>
                        <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
                        <a href="preview.html" class="button">Shop Now</a>
                    </div>                           
                </div>
                </noindex>
                {% endplaceholder %}
            </div>
            {% placeholder "content" %} 
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% comment %}
{% block "content" %}
        <div class="content_top">
            <div class="heading">
            <h3>New Products</h3>
            </div>
            <div class="see">
                <p><a href="#">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
          <div class="section group">
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url "pages-root" %}"><img src="{% static "images/feature-pic1.jpg" %}" alt="" /></a>
                     <h2>Lorem Ipsum is simply </h2>
                    <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">$620.87</span></p>
                        </div>
                                   <div class="add-cart">                                
                                    <h4><a href="{% url "pages-root" %}">Add to Cart</a></h4>
                                 </div>
                             <div class="clear"></div>
                    </div>
                     
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url "pages-root" %}"><img src="{% static "images/feature-pic2.jpg" %}" alt="" /></a>
                     <h2>Lorem Ipsum is simply </h2>
                    <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">$899.75</span></p>
                        </div>
                                   <div class="add-cart">                                
                                    <h4><a href="{% url "pages-root" %}">Add to Cart</a></h4>
                                 </div>
                             <div class="clear"></div>
                    </div>
                    
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url "pages-root" %}"><img src="{% static "images/feature-pic3.jpg" %}" alt="" /></a>
                     <h2>Lorem Ipsum is simply </h2>
                     <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">$599.00</span></p>
                        </div>
                                   <div class="add-cart">                                
                                    <h4><a href="{% url "pages-root" %}">Add to Cart</a></h4>
                                 </div>
                             <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url "pages-root" %}"><img src="{% static "images/feature-pic4.jpg" %}" alt="" /></a>
                     <h2>Lorem Ipsum is simply </h2>
                    <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">$679.87</span></p>
                        </div>
                                   <div class="add-cart">                                
                                    <h4><a href="{% url "pages-root" %}">Add to Cart</a></h4>
                                 </div>
                             <div class="clear"></div>
                    </div>                     
                </div>
            </div>
            <div class="content_bottom">
            <div class="heading">
            <h3>Feature Products</h3>
            </div>
            <div class="see">
                <p><a href="#">See all Products</a></p>
            </div>
            <div class="clear"></div>
        </div>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url "pages-root" %}"><img src="{% static "images/new-pic1.jpg" %}" alt="" /></a>
                     <h2>Lorem Ipsum is simply </h2>
                    <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">$849.99</span></p>
                        </div>
                                   <div class="add-cart">                                
                                    <h4><a href="{% url "pages-root" %}">Add to Cart</a></h4>
                                 </div>
                             <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url "pages-root" %}"><img src="{% static "images/new-pic2.jpg" %}" alt="" /></a>
                     <h2>Lorem Ipsum is simply </h2>
                     <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">$599.99</span></p>
                        </div>
                                   <div class="add-cart">                                
                                    <h4><a href="{% url "pages-root" %}">Add to Cart</a></h4>
                                 </div>
                             <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url "pages-root" %}"><img src="{% static "images/new-pic4.jpg" %}" alt="" /></a>
                     <h2>Lorem Ipsum is simply </h2>
                    <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">$799.99</span></p>
                        </div>
                                   <div class="add-cart">                                
                                    <h4><a href="{% url "pages-root" %}">Add to Cart</a></h4>
                                 </div>
                             <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="{% url "pages-root" %}"><img src="{% static "images/new-pic3.jpg" %}" alt="" /></a>
                     <h2>Lorem Ipsum is simply </h2>                     
                     <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">$899.99</span></p>
                        </div>
                                   <div class="add-cart">                                
                                    <h4><a href="{% url "pages-root" %}">Add to Cart</a></h4>
                                 </div>
                             <div class="clear"></div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% endcomment %}
