{% extends "base.html" %}

{% load i18n %}
{% load menu_tags %}
{% load cms_tags %}

{% block content %}
    <div class="content_top">
        {% block breadcrumbs %}
        <ul class="breadcrumb">
            {% show_breadcrumb 0 'menu/breadcrumb.html' 0 %}
        </ul>
        {% endblock %}
    </div>
    {% block "inner-content" %}
        <div class="content">
            {% placeholder "inner-contenr" or %}<h1 class="text-danger">{% trans "This page is under construction" %}</h1>{% endplaceholder %}
        </div>
    {% endblock %}
{% endblock %}
