{% extends "base.html" %}

{% load i18n %}
{% load menu_tags %}
{% load cms_tags %}

{% block content %}
    <div class="content_top">
        {% block breadcrumbs %}
        <ul class="breadcrumb">
            {% show_breadcrumb 0 'menu/breadcrumb.html' 0 %}
        </ul>
        {% endblock %}
    </div>
    {% block "inner-content" %}
        <div class="content">
            <h1 class="text-danger">{% placeholder "inner-contenr" or %}{% trans "This page is under construction" %}{% endplaceholder %}</h1>
        </div>
    {% endblock %}
{% endblock %}
