{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load sekizai_tags %}
{% load purchase_info_tags %}

{% for js in formset.media.render_js %}
{% addtoblock 'js' %}{{ js }}{% endaddtoblock %}
{% endfor %}

{% for css in formset.media.render_css %}
{% addtoblock 'css' %}{{ css }}{% endaddtoblock %}
{% endfor %}

<div class="row">
    <div class="col-xs-12 text-center">
        <p>&nbsp;</p>
        {% if formset|length %}
            <div class="dropdown">
                <h5>
                    <a data-target="#miniBasketForm" data-toggle="collapse" role="button">
                        <span class="fa fa-shopping-cart"></span> {% trans 'Basket' %}: {{ basket.total_excl_tax|currency:basket.currency }}
                        <span class="fa fa-caret-down"></span>
                    </a>
                </h5>
            </div>
            <form id="miniBasketForm" class="collapse fade out" data-type="ajax" method="POST" action="{% url 'basket:process' %}">
            <div class="arrow"></div>
            <div class="well">
            {% csrf_token %}
            
            <div style="display:none;">
                {{ formset.management_form }}
            </div>
            <table class="table table-condensed table-bordered">
            {% for form in formset %}
            {% with line=form.instance product=form.instance.product %}
            {% purchase_info_for_line request line as session %}
                <tr>
                    <td class="text-center">
                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.tiny_thumb }}" alt="{{ product.get_title }}"></a>
                    </td>
                    <td class="text-center">
                        <b>{% with title=line.description|wordwrap:20 %}{{ title|linebreaksbr }}{% endwith %}</b>
                    </td>
                    <td class="text-center">
                        {% purchase_info_for_product request form.instance.product as saved %}
                        {% if line.is_tax_known %}
                            {{ line.quantity }} x {{ saved.price.incl_tax|currency:saved.price.currency }}
                        {% else %}
                            {{ line.quantity }} x {{ saved.price.incl_tax|currency:saved.price.currency }}
                        {% endif %}
                    </td>
                    <td>
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {{ field }}
                        {% endfor %}
                    </td>
                </tr>
            {% endwith %}
            {% empty %}
            {% endfor %}
            </table>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <br/>
                    <a href="{% url 'basket:summary' %}"><b>{% trans 'Purchase the order' %} &gt;</b></a>
                </div>
            </div>
            </div>
            </form>
        {% else %}
            <p>&nbsp;</p>
            <h5><span class="fa fa-shopping-cart"></span> {% trans "Your basket is empty" %}</h5>
        {% endif %}
    </div>
</div>
