{% extends "base.html" %}
{% load petshop_tags sekizai_tags %}

{% block content-class %}{{ block.super }} dashboard{% endblock %}

{% block "media" %}
{% get_dashboard_media as dashboard_media %}
{% extend_media_block 'css' dashboard_media %}
{% extend_media_block 'js' dashboard_media %}

<script type="text/javascript">
    $(function() {
        {% block onbodyload %}
        options = {
            'languageCode': '{{ LANGUAGE_CODE }}'
        };
        oscar.dashboard.init(options);
        {% endblock %}
    });
</script>
{% endblock %}
