{% extends "simple.html" %}

{% load menu_tags product_tags %}

{% block "inner-content" %}
    {% for product in products %}
    {% if forloop.counter0|divisibleby:4 %}{% if not forloop.first %}</div>{% endif %}<div class="section group">{% endif %}
        <div class="images_1_of_4 grid_1_of_4">
            {% render_product product %}
       </div>
    {% endfor %}
    </div>
    {% if paginator.num_pages > 1 %}

    <ul class="content-pagenation">
        {% for page in paginator.page_range %}
        <li{% if page = page_obj.number %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
