{% extends "simple.html" %}

{% load static i18n %}
{% load menu_tags %}
{% load purchase_info_tags currency_filters %}

{% block "inner-content" %}
{% purchase_info_for_product request product as session %}
{% with available=session.availability.is_available_to_buy %}
<div class="section group">
    <div class="cont-desc span_1_of_2">
        <div class="product-details">
            <div class="grid images_3_of_2">
                <div id="container">
                    <div id="products_example">
                        <div id="products">
                            <div class="slides_container">
                                <a href="#" target="_blank"><img src="{{ product.large_thumb }}" alt=" " /></a>
                            </div>
                            <ul class="pagination">
                                <li><a href="#"><img src="{{ product.small_thumb }}" alt=" " /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc span_3_of_2">
            <h2>{{ product.title }}</h2>
            <p>{{ product.description|truncatewords:20 }}</p>
            {% if available %}
            {% include "catalogue/partials/add_to_basket_form.html" %}
            {% else %}
            <div class="price">{% trans "Not available" %}</div>
            {% endif %}
        </div>
        <div class="clear"></div>
        <div class="product_desc">
            <div id="horizontalTab">
                <div class="product-desc">
                    <h2>{% trans "Product details" %}</h2>
                    <p>{{ product.description|safe }}</p>
                </div>
            </div>
        </div>
        <div class="content_bottom">
            <div class="heading">
                <h3>{% trans "Related products" %}</h3>
            </div>
            <div class="see">
                <p><a href="#">{% trans "See all products" %}</a></p>
            </div>
            <div class="clear"></div>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="#"><img src="{% static "images/new-pic1.jpg" %}" alt=""></a>
                    <div class="price" style="border:none">
                        <div class="add-cart" style="float:none">
                            <h4><a href="#">{% trans "Add to basket" %}</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="#"><img src="{% static "images/new-pic1.jpg" %}" alt=""></a>
                    <div class="price" style="border:none">
                        <div class="add-cart" style="float:none">
                            <h4><a href="#">{% trans "Add to basket" %}</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="#"><img src="{% static "images/new-pic1.jpg" %}" alt=""></a>
                    <div class="price" style="border:none">
                        <div class="add-cart" style="float:none">
                            <h4><a href="#">{% trans "Add to basket" %}</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightsidebar span_3_of_1">
        <h2>{% trans "Categories" %}</h2>
        <ul>
            {% show_menu 1 100 %}
        </ul>
    </div>
</div>
{% endwith %}
{% endblock %}
