{% extends "simple.html" %}

{% load static i18n %}
{% load menu_tags %}
{% load purchase_info_tags currency_filters product_tags %}

{% block "inner-content" %}
{% purchase_info_for_product request product as session %}
{% with available=session.availability.is_available_to_buy %}
<div class="section group">
    <div class="cont-desc span_1_of_2">
        <div class="product-details">
            <div class="grid images_3_of_2">
                <div id="container">
                    <div id="products_example">
                        <div id="products">
                            <div class="slides_container">
                                <a href="#" target="_blank"><img src="{{ product.large_thumb }}" alt=" " /></a>
                            </div>
                            <ul class="pagination list-inline">
                                {% for thumb in product.small_thumbs %}
                                    <li><a href="#"><img src="{{ thumb }}" alt=" " /></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc span_3_of_2">
            <h2>{{ product.title }}</h2>
            <p>{{ product.description|truncatewords:20 }}</p>
            {% if available %}
            {% include "catalogue/partials/add_to_basket_form.html" %}
            {% else %}
            <div class="price">{% trans "Not available" %}</div>
            {% endif %}
        </div>
        <div class="clear"></div>
        {% if product.description %}
        <div class="product_desc">
            <div id="horizontalTab">
                <div class="product-desc">
                    <h2>{% trans "Product details" %}</h2>
                    <p>{{ product.description|safe }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% if product.recommended_products.exists %}
        <div class="content_bottom">
            <div class="heading">
                <h3>{% trans "Recommended products" %}</h3>
            </div>
            <div class="clear"></div>
        {% for recommended in product.recommended_products.all %}
            {% if forloop.counter0|divisibleby:2 %}{% if not forloop.first %}</div>{% endif %}<div class="row product-list recommended-list">{% endif %}
            <div class="col-xs-6">
                <p>&nbsp;</p>
                <div class="product-list-details">
                    {% render_product recommended %}
                </div>
            </div>
         {% endfor %}
         </div>
        </div>
        {% endif %}
    </div>
    <div class="rightsidebar span_3_of_1">
        <h2>{% trans "Categories" %}</h2>
        <ul>
            {% show_menu 1 2 0 0 'menu/menu.html' 'catalogue' %}
        </ul>
    </div>
</div>
{% endwith %}
{% endblock %}
