{% extends "simple.html" %}

{% load static i18n %}
{% load menu_tags %}
{% load sekizai_tags %}
{% load purchase_info_tags currency_filters product_tags %}

{% block "inner-content" %}
{% addtoblock 'js' %}<script type="text/javascript" src="{% static "vendor/js/bootstrap/carousel.js" %}"></script>{% endaddtoblock %}
{% purchase_info_for_product request product as session %}
{% with available=session.availability.is_available_to_buy %}
<div>
    <p>&nbsp;</p>
    <div class="row product-details">
        <div class="col-sm-3 col-sm-offset-1">
            {% with thumbs=product.small_thumbs images=product.large_thumbs %}
            {% if product.thumbs_count > 1 %}
            <div class="carousel slide" id="productCarousel" data-ride="carousel">
                <ul class="carousel-indicators">
                {% for thumb in thumbs %}
                    <li data-target="#productCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
                </ul>
                <div class="carousel-inner" role="listbox">
                    {% for image in images %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                        <img src="{{ image }}" />
                    </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#productCarousel" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Previous" %}</span>
                </a>
                <a class="right carousel-control" href="#productCarousel" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Next" %}</span>
                </a>
            </div>
            {% else %}
                <img src="{{ product.large_thumb }}" class="img-responsive" />
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-sm-5">
            <h2>{{ product.title }}{% if user.is_staff %}&nbsp;&nbsp;&nbsp;<a class=" small text-muted text-lowercase" href="{% url "dashboard:catalogue-product" product.pk %}"><i class="fa fa-pencil"></i> {% trans "Change" %}</a>{% endif %}</h2>
            <p>{{ product.description|truncatewords:20 }}</p>
            {% if available %}
            {% include "catalogue/partials/add_to_basket_form.html" %}
            {% else %}
            <div class="price">{% trans "Not available" %}</div>
            {% endif %}
            {% if product.description %}
            <div class="product_desc">
                <div id="horizontalTab">
                    <div class="product-desc">
                        <h2>{% trans "Product details" %}</h2>
                        <p>{{ product.description|safe }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% comment %}
        {% if product.recommended_products.exists %}
        <div class="content_bottom">
            <div class="heading">
                <h3>{% trans "Recommended products" %}</h3>
            </div>
            <div class="clear"></div>
        {% for recommended in product.recommended_products.all %}
            {% if forloop.counter0|divisibleby:2 %}{% if not forloop.first %}</div>{% endif %}<div class="row product-list recommended-list">{% endif %}
            <div class="col-xs-6">
                <p>&nbsp;</p>
                <div class="product-list-details">
                    {% render_product recommended %}
                </div>
            </div>
         {% endfor %}
         </div>
        </div>
        {% endif %}
        {% endcomment %}
        <div class="col-sm-3 rightsidebar-categories">
            <h2>{% trans "Categories" %}</h2>
            <ul class="categories-menu">
                {% show_menu 1 2 0 0 'menu/menu.html' 'catalogue' %}
            </ul>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
